.pagination {
  margin-top: .5rem;
  border-top: 2px solid rgba(42, 43, 141, .37);
}

.page-counter {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.7rem;
}

.btn-pagination {
  margin-bottom: 1rem;
  border: 3px solid rgba(42, 43, 141, .67);
  color: rgba(42, 43, 141, .67);
  border-radius: 10px;
  display: block;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
}

.btn-pagination:hover {
  border: 3px solid rgba(42, 43, 141, 1);
  color: rgba(42, 43, 141, 1);
  cursor: pointer;
}

.btn-pagination.prev {
  float: left;
}

.btn-pagination.next {
  float: right;
}