.sticky-header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  background: #050417;
  color: white;
  display: block;
}

.sticky-header-container .logo-container {
  height: 70px;
  user-select: none;
  -moz-user-select: none;
}

.sticky-header-container {
  margin: 25px;
}

.sticky-header-container, .sticky-header-container form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form, form * {
  margin: 0;
  box-sizing: border-box;
}

.sticky-header-container form {
  display: flex;
  flex-basis: 1128px;
}

/*
  Mobile screen form styles
*/

@media screen and (max-width: 576px) {
  .sticky-header-container form {
    flex-wrap: wrap;
  }
  .sticky-header-container .select-container, .sticky-header-container .input-container {
    margin: .2rem 0 !important;
  }
  .sticky-header-container {
    margin: .75rem .75rem .75rem 0;
  }
  .sticky-header-container form input, .sticky-header-container form select, .sticky-header-container button {
    height: auto;
    padding: .5rem;
    margin: 0 !important;
  }
  .sticky-header-container form .stacked-select {
    display: none;
  }
  .sticky-header-container svg {
    margin: 0 !important;
  }
  .sticky-header-container .logo-container {
    padding: 1rem;
  }
  .results .content {
    margin-top: 8rem !important;
  }
}

.sticky-header-container svg {
  margin-right: 86px;
}

.sticky-header-container .select-container, .sticky-header-container .input-container {
  flex: 1;
  flex-basis: 400px;
}

.sticky-header-container select {
  /* select should fill the select-container width */
  width: 100% !important;
}

.sticky-header-container .input-container {
  margin-right: 30px;
}

.sticky-header-container button {
  flex: 1;
  flex-basis: 246px;
  margin-left: 52px;
}