.results {
  background: #fff !important;
  color: #050417 !important;
  align-items: flex-start !important;
}

.header {
  height: fit-content;
}

.results .content {
  margin: auto;
  margin-top: 120px;
  padding: .5rem;
  max-width: 1024px;
}