form * {
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 19px;
}

form input, form select {
  padding: 1rem .5rem;
  width: 100%;
  border-radius: 4px;
  max-width: 400px;
  height: 50px;
}

.select-container {
  position: relative;
  z-index: 1;
  max-width: 400px;
  width: 100%;
}

.stacked-select {
  position: absolute;
  top: 5px;
  left: 10px;
  margin-left: auto;
  z-index: -1;
  background: #D5D7E5;
  opacity: 0.7;
  border-radius: 4px;
  width: 95%;
  height: 50px;
}

form button {
  background: rgba(42, 43, 141, .67);
  border-radius: 25px;
  width: 246px;
  height: 50px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  text-transform: uppercase;
}

form button:hover {
  cursor: pointer;
  background: rgba(42, 43, 141, 1);
}